<a href="https://colab.research.google.com/github/visalsudhakaran/Vehicleservice/blob/main/Vehicleservice11820221150am.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("VehicleService_transformed.TXT",sep = ",")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
df.head()

,CustomerID,CustomerSince,Vehicle,2014,2015,2016E,Unnamed: 6
0,2534845,2014-03-27,2012 BMW 1 Series,40.57,359.17,184.07,NaN
1,2534846,2008-05-02,1993 BMW 518,663.04,63.6,716.18,NaN
2,2534847,2004-11-16,1999 TVR Speed 12,765.51,42.71,479.80,NaN
3,2534848,2005-09-10,1992 Porsche 968,548.32,273.48,329.80,NaN
4,2534849,2014-09-01,2006 Volvo XC70,242.74,370.78,263.06,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 7 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   CustomerID     1050000 non-null  int64
 1   CustomerSince  1050000 non-null  object
 2   Vehicle        1050000 non-null  object
 3   2014           1018122 non-null  float64
 4   2015           1050000 non-null  object
 5   2016E          1050000 non-null  float64
 6   Unnamed: 6     1 non-null        float64
dtypes: float64(3), int64(1), object(3)
memory usage: 56.1+ MB

In [31]:
df.loc[df['Unnamed: 6'] > 1]

,CustomerID,CustomerSince,Vehicle,2014,2015,2016E,Unnamed: 6
203973,2738818,2014-01-01,2009 Chevrolet Traverse,118.0,1.0,122.55,725.89

In [29]:
df.loc[df['2015'] == object]

Empty DataFrame
Columns: [CustomerID, CustomerSince, Vehicle, 2014, 2015, 2016E, Unnamed: 6]
Index: []